$color-dark: #303a3a;
$color-white: #ffffff;

// Green
$color-primary: #69c646;
$color-secondary-light: #8ac773;
$color-teritary-light: #dfffd2;

//Colors
$grey-primary: #615d61;
$beige-primary: #f2f3ec;
$blue-primary: #2b3f6c;
$yellow-primary: #fabd20;
$yellow-light: #ffefc6;

$red-primary: #f46c6c;
$red-light: #ffd8d8;
$blue-light: #d8e7ff;
