$color-dark: #303a3a;
$color-primary: #69c646;
$color-yellow: #ffb422;
$color-red: #ff9292;

$color-primary-light: #a8ef8d;
$color-yellow-light: #f8f4a2;

$color-black: #000000;
$color-secondary-black: #f4f4f4;

$color-white: #ffffff;
