@import '@biowelt/ui-styles/settings';
@import '@biowelt/ui-styles/tools';

.container {
  grid-column: center-start / center-end;
  grid-row: 1 / 2;
  margin-top: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include respond(phone) {
    justify-content: center;
  }
}

.nav {
  @include respond(tab-land) {
    display: none;
  }
}

.list {
  display: flex;
  list-style: none;
  align-items: center;
  align-content: center;
  gap: 6rem;
}

.item {
  text-decoration: none;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;

  &:hover {
    color: $color-primary;
  }
}

.btn--full {
  .btn-content {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  @include fullBtn();
}
